body{
    background-color: #0077b6;
    margin: 0%;
}


.nav-item{
    color: #ddd;
    font-weight: bolder;
}
header {
    background-image: url('/assets/img/17973908.jpg');
    background-size: cover;
    background-position: center;
    color: black; 
}
.country-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
}

.country-flag {
    max-width: 50px;
}

.card{
    background-color: #0077b6;
    color: white;
    border-radius: 20px;
    padding: 4%;
    border-bottom: 2px solid #ddd;
}

.footer {
    background-color: #0077b6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}
